/*------------- Батарейка--------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.battery-content {
  position: relative;
  margin: 10px;
  border: 3px solid #000;
  width: 200px;
  height: 80px;
  border-radius: 5px;
  background-color: #fff;
}

.battery_top {
  position: absolute;
  margin: 30px 210px;
  width: 6px;
  height: 20px;
  background-color: #000;
}
.charge {
  height: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 14px;
  animation: battery 3s linear infinite;
}
@keyframes battery {
  0% {
    width: 0%;
    background: red;
  }
  25% {
    width: 25%;
    background: rgb(255, 220, 192);
  }
  50% {
    width: 50%;
    background: orange;
  }
  75% {
    width: 75%;
    background: yellow;
  }
  100% {
    width: 100%;
    background: rgb(49, 199, 64);
  }
}

/* ---------------Иконки-------------- */

.line {
  border: 1px #000 dashed;
}

body {
  background-color: #2e3862;
}

.page__icontest {
  display: flex;
  justify-content: space-between;
}
/* .icontest__container {
} */
._container {
  padding: 0px 15px;
  margin: 0 auto;
  box-sizing: content-box;
}
.icontest__items {
  display: flex;
  background-color: #fff;
  border-radius: 20px;
  height: 200px;
}
.icontest__item {
  flex: 0 1 33.3333%;
}
.item-icontest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 50px 15px;
  width: 100%;
}
.item-icontest img {
  width: 50px;
  height: 50px;
}

.header__title {
  text-align: center;
  color: #ff7b47;
  margin: 10px;
}
.header__sub-title {
  margin: 10px;
}
.item-icontest__button {
  border: 1px solid #ff7b47;
  /* min-height: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #ff7b47;
  line-height: 142%;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  border-radius: 5px;
}

.item-icontest__button:hover {
  background-color: #c2582f;
}

/* ---------------WEATHER--------------- */

.page_WeatherCards {
  display: flex;
  padding: 50px;
  justify-content: center;
}

.WeatherCards__container {
  display: flex;
  padding: 0px 10px;
  height: 300px;
  width: 250px;
}

.WeatherCards__container:hover {
  transform: scale(120%);
}

.WeatherCards__items {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* padding: 50px 15px; */
  /* width: 100%; */
}

.WeatherCards__item {
  flex: 0 1 33.3333%;
}

.item-WeatherCards {
  background-color: #fff;
  height: auto;
  width: auto;
  border: 20px;
  box-shadow: 0px 5px 5px 5px rgb(29, 20, 13, 0.25);
}

.header__title__data {
  height: 30px;
  width: 100%;
  background-color: #7d8cc8;
  color: #fff;
  text-align: center;
  font-size: 18px;
  padding: 5px 0px;
}

.item-WeatherCards__icon {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin: 10px;
}

.item-WeatherCards__icon img {
  width: 80%;
}

.header__sub-title__gradus {
  padding: 20px;
  text-align: center;
}

/* ---------------FEEDBACK-------------- */

.feedback {
  display: flex;
  background-color: azure;
  border: 20px;
  border-radius: 0px 10px 10px 0px;
  height: 150px;
  width: 350px;
  transform: translateX(-322px);
}

.feedback:hover {
  transition-delay: 1.5s;
  transition: transform 1.5s ease-in;
  transform: translateX(0px);
}

.feedback img {
  width: 60px;
  height: 60px;
  margin: 10px;
}

.feedback p {
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

.feedback .strong {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  text-decoration: none;
}
.feedback__content {
  display: flex;
  align-items: center;
  background-color: #fff1e2;
}

.feedback__text {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

.feedback__tab {
  writing-mode: sideways-lr;
  text-align: center;
  background-color: #ffaa94;
  color: #000;
  font-weight: bold;
  padding: 10px 5px;
  border-radius: 0px 10px 10px 0px;
  max-width: 250px;
  cursor: pointer;
}
/*------------- STEPPER-------- */

.page__stepper {
  margin: 100px;
}

.progress-container {
  width: 80%;
  max-width: 600px;
}

.progress-bar {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 1;
}

.progress-bar::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 4px;
  background-color: #7b7373;
  transform: translateY(-50%);
  z-index: -1;
}

.step {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border: 3px solid transparent;
  background-color: #d3d3d3;
  position: relative;
  transition: background-color 0.3s, border-color 0.3s;
}

.step.completed {
  background-color: #4caf50;
}

.step.active {
  background-color: #6e3fd2;
  border-color: #4727b0;
}

.step.completed::after,
.step.active::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  width: 100%;
  height: 4px;
  background-color: #4caf50;
  transform: translate(50%, -50%);
  z-index: -2;
}

.progress-bar li:first-child::after {
  display: none;
}

.step.inactive {
  background-color: #d3d3d3;
}

/* CIRCLE */

.page__circle {
  display: flex;
  justify-content: center;
}

.circle-progress {
  --size: 250px;
  --stroke: 30px;
  --color: #4ace6b;
  --track: #57816f;

  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  background: radial-gradient(
      closest-side,
      rgb(255, 255, 255) calc(100% - 60%),
      transparent calc(100% - 40%)
    ),
    conic-gradient(var(--color) calc(var(--progress) * 1%), var(--track) 0%);
}

.progress-text {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

/* -----LINEAR PROGRESS----- */

.Page__linear {
  margin: 100px;
}

.linear__conteiner {
  position: relative;
  width: 300px;
  height: 30px;
  border: 1px solid #c9e9ff;
  border-radius: 50px;
  background-color: rgba(205, 220, 244, 0.2);
}

.linear__progress {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 70px;
  animation: linearprogress 5s linear infinite;
  box-shadow: 0px 5px 5px 5px rgba(71, 75, 179, 0.25);
}

@keyframes linearprogress {
  0% {
    width: 0%;
    background: rgb(128, 156, 224);
  }
  25% {
    width: 25%;
    background: rgb(128, 156, 224);
  }
  50% {
    width: 50%;
    background: rgb(128, 156, 224);
  }
  75% {
    width: 75%;
    background: rgb(128, 156, 224);
  }
  100% {
    width: 100%;
    background: rgb(161, 181, 228);
  }
}
